* {
    font-family: 'Montserrat', sans-serif !important;
}

html {
    height: 100vh;
}

body,
.app,
.mud-main-content {
    height: inherit;
}

a,
.btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.spinner {
    width: 50px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg), radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: sp 1s infinite;
}

@keyframes sp {
    to {
        transform: rotate(.5turn)
    }
}

.main-menu-item .mud-list-item-icon {
    min-width: 35px !important;
}

.mud-nav-menu {
    font-size: 1rem !important;
}

.mud-nav-link:hover {
    color: var(--mud-palette-primary);
}

.selected {
    background-color: var(--mud-palette-primary) !important;
}

.selected>td,
.selected>td .mud-input,
.selected>td span {
    color: white !important;
}

.mud-table-row {
    cursor: pointer;
}

.pad-flex-toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.pad-flex-toolbar>* {
    flex: 1;
}

.mud-table-toolbar {
    padding-right: 16px !important;
    padding-inline-end: 16px !important;
}

@media (min-width: 600px) {
    .mud-toolbar-gutters {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}