@using Microsoft.Extensions.Primitives

<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 class="mb-4" style="text-align: center;">Sign out from PAD</h1>
    <div class="rz-card card form-group" style="width: 300px;">
        <h3 class="mb-4" style="text-align: center; font-weight: normal;">Are you sure you want to sign out?</h3>
        <form asp-controller="Authorization" asp-action="Logout" method="post">
            <div class="rz-form">
                @foreach (var parameter in Context.Request.HasFormContentType ?
                (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
                {
                    <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                }
                <div class="d-flex" style="justify-content: space-between;">
                    <input type="submit" name="Confirm" value="Yes" class="rz-button rz-button-md btn-primary"
                        style="width: 46%;" />
                    <a class="rz-button rz-button-md btn-secondary pad-button" href="previous.html"
                        style="width: 46%; text-align: center;" onClick="history.back();return false;">
                        <span class="rz-button-text">No</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>