@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
    <RadzenHeader>
        <div class="row justify-content-space-start align-items-center">
            <div class="col-6 d-flex align-items-center">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
                <RadzenLabel Text="Personal Assistant for Self-Development" Style="font-size: 20px"></RadzenLabel>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-end">
                <RadzenProfileMenu Click="ProfileMenuClick">
                    <Template>
                        <RadzenGravatar Email="@UserName" />
                    </Template>
                    <ChildContent>
                        <RadzenProfileMenuItem Icon="account_circle" Text="Profile (in progress)"></RadzenProfileMenuItem>
                        <RadzenProfileMenuItem Text="Logout" Icon="login"></RadzenProfileMenuItem>
                    </ChildContent>
                </RadzenProfileMenu>
            </div>
        </div>
    </RadzenHeader>
    <RadzenSidebar Expanded="@isSidebarExpanded">
        <RadzenPanelMenu style="height: 100%; display: flex; flex-direction: column">
            <RadzenPanelMenuItem Text="Finance" Icon="payments" Path="/"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Goals" Path="/goals" Icon="flag" />
            <RadzenPanelMenuItem Icon="import_contacts" Text="Diary" Path="/diary"></RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody Expanded="@isSidebarExpanded" Style="color: #000000">
        <RadzenContentContainer Name="main">
            @Body
        </RadzenContentContainer>
    </RadzenBody>
</RadzenLayout>